DATABASE_URL="mysql://root:Password@localhost:3306/database_name"
JWT_SECRET="myJWTSecret"
ENCRYPTION_KEY="your-encryption-key-that-needs-to-be-32-bytes"
GOOGLE_CLOUD_PROJECT="Project ID"
GOOGLE_APPLICATION_CREDENTIALS="key.json"